<div class="container">
    <div class="header">
        <div style="display: flex; align-items: center; cursor: pointer; color: #005CBB;" (click)="navigateBack()">
            <mat-icon color="primary">arrow_back_ios</mat-icon>
            <h2>Customers</h2>
        </div>
    </div>
    <div class="body">
        <h1>{{ crudTitle() }} Customer</h1>
        <form *ngIf="!isMobile" [formGroup]="customerForm" class="form-desktop">
            <div style="display: flex; justify-content: space-between; gap: 20px !important">
                <mat-form-field floatLabel="always" appearance="outline" style="width: 100%">
                    <mat-label>First Name</mat-label>
                    <input type="text" matInput required formControlName="primaryFirstName"
                        appAllowAlphaAndSpecificChar>
                </mat-form-field>

                <mat-form-field floatLabel="always" appearance="outline" style="width: 100%">
                    <mat-label>Last Name</mat-label>
                    <input type="text" matInput required formControlName="primaryLastName" appAllowAlphaAndSpecificChar>
                </mat-form-field>
            </div>

            <div style="display: flex; justify-content: space-between; gap: 20px !important">
                <mat-form-field floatLabel="always" appearance="outline" style="width: 100%">
                    <mat-label>Middle Name</mat-label>
                    <input type="text" matInput formControlName="primaryMiddleName" appAllowAlphaAndSpecificChar>
                </mat-form-field>
                <mat-form-field floatLabel="always" appearance="outline" style="width: 100%">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput formControlName="email">
                </mat-form-field>
            </div>

            <div style="display: flex; justify-content: space-between; gap: 20px !important">
                <mat-form-field floatLabel="always" appearance="outline">
                    <mat-label>Title</mat-label>
                    <mat-select matInput formControlName="primaryTitle">
                        <mat-option value="Mr.">Mr.</mat-option>
                        <mat-option value="Mrs.">Mrs.</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field floatLabel="always" appearance="outline">
                    <mat-label>Phone</mat-label>
                    <input type="text" matInput formControlName="phone" required placeholder="### ### ####"
                        appAllowOnlyNumbers>
                </mat-form-field>
                <mat-form-field floatLabel="always" appearance="outline">
                    <mat-label>Telephone</mat-label>
                    <input type="text" matInput formControlName="telephone" appAllowOnlyNumbers>
                </mat-form-field>
            </div>

            <mat-checkbox style="margin-bottom: 10px;" (change)="toggleAddSecondaryCustomer()"
                [checked]="showSecondaryCustomer">Add secondary
                customer</mat-checkbox>

            <div *ngIf="showSecondaryCustomer" class="secondary-customer">
                <h3>Secondary Customer</h3>
                <div style="display: flex; justify-content: space-between; gap: 20px !important">
                    <mat-form-field floatLabel="always" appearance="outline" style="width: 100%;">
                        <mat-label>First Name</mat-label>
                        <input type="text" matInput formControlName="secondaryFirstName" appAllowAlphaAndSpecificChar>
                    </mat-form-field>

                    <mat-form-field floatLabel="always" appearance="outline" style="width: 100%;">
                        <mat-label>Last Name</mat-label>
                        <input type="text" matInput formControlName="secondaryLastName" appAllowAlphaAndSpecificChar>
                    </mat-form-field>
                </div>

                <div style="display: flex; justify-content: space-between; gap: 20px !important">
                    <mat-form-field floatLabel="always" appearance="outline" style="width: 100%;">
                        <mat-label>Middle Name</mat-label>
                        <input type="text" matInput formControlName="secondaryMiddleName" appAllowAlphaAndSpecificChar>
                    </mat-form-field>

                    <mat-form-field floatLabel="always" appearance="outline" style="width: 100%;">
                        <mat-label>Title</mat-label>
                        <mat-select formControlName="secondaryTitle">
                            <mat-option value="Mr.">Mr.</mat-option>
                            <mat-option value="Mrs.">Mrs.</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

            </div>

            <mat-form-field floatLabel="always" appearance="outline" style="width: 100% !important">
                <mat-label>Address 1</mat-label>
                <input type="text" matInput required formControlName="address1">
            </mat-form-field>

            <mat-form-field floatLabel="always" appearance="outline" style="width: 100% !important">
                <mat-label>Address 2</mat-label>
                <input type="text" matInput formControlName="address2">
            </mat-form-field>

            <div style="display: flex; justify-content: space-between; gap: 20px !important">
                <mat-form-field floatLabel="always" appearance="outline">
                    <mat-label>Building</mat-label>
                    <input type="text" matInput formControlName="bldg" appAllowAlphanumeric>
                </mat-form-field>
                <mat-form-field floatLabel="always" appearance="outline">
                    <mat-label>Apartment</mat-label>
                    <input type="text" matInput formControlName="apt" appAllowAlphanumeric>
                </mat-form-field>
                <mat-form-field floatLabel="always" appearance="outline">
                    <mat-label>City</mat-label>
                    <input type="text" matInput formControlName="city" appAllowAlphaAndSpecificChar>
                </mat-form-field>

            </div>
            <div style="display: flex; justify-content: space-between; gap: 20px !important">
                <mat-form-field floatLabel="always" appearance="outline" style="width: 100%;">
                    <mat-label>State</mat-label>
                    <mat-select formControlName="state">
                        <mat-option value="FL">FL</mat-option>
                        <mat-option value="NY">NY</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field floatLabel="always" appearance="outline" style="width: 100%;">
                    <mat-label>Zip Code</mat-label>
                    <input type="text" matInput formControlName="zipCode" appAllowOnlyNumbers>
                </mat-form-field>
            </div>
        </form>

        <form *ngIf="isMobile" [formGroup]="customerForm" class="form-mobile">
            <mat-form-field floatLabel="always" appearance="outline" style="width: 100%">
                <mat-label>First Name</mat-label>
                <input type="text" matInput required formControlName="primaryFirstName" appAllowAlphaAndSpecificChar>
            </mat-form-field>

            <mat-form-field floatLabel="always" appearance="outline" style="width: 100%">
                <mat-label>Last Name</mat-label>
                <input type="text" matInput required formControlName="primaryLastName" appAllowAlphaAndSpecificChar>
            </mat-form-field>

            <div style="display: flex; justify-content: space-between; gap: 20px !important; width: 100%">
                <mat-form-field floatLabel="always" appearance="outline">
                    <mat-label>Middle Name</mat-label>
                    <input type="text" matInput formControlName="primaryMiddleName" appAllowAlphaAndSpecificChar>
                </mat-form-field>
                <mat-form-field floatLabel="always" appearance="outline">
                    <mat-label>Title</mat-label>
                    <mat-select matInput formControlName="primaryTitle">
                        <mat-option value="Mr.">Mr.</mat-option>
                        <mat-option value="Mrs.">Mrs.</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <mat-checkbox style="margin-bottom: 10px;" (change)="toggleAddSecondaryCustomer()"
                [checked]="showSecondaryCustomer">Add secondary
                customer</mat-checkbox>

            <div *ngIf="showSecondaryCustomer" class="secondary-customer">
                <h3>Secondary Customer</h3>

                <mat-form-field floatLabel="always" appearance="outline" style="width: 100%;">
                    <mat-label>First Name</mat-label>
                    <input type="text" matInput formControlName="secondaryFirstName" appAllowAlphaAndSpecificChar>
                </mat-form-field>

                <mat-form-field floatLabel="always" appearance="outline" style="width: 100%;">
                    <mat-label>Last Name</mat-label>
                    <input type="text" matInput formControlName="secondaryLastName" appAllowAlphaAndSpecificChar>
                </mat-form-field>

                <mat-form-field floatLabel="always" appearance="outline" style="width: 100%;">
                    <mat-label>Middle Name</mat-label>
                    <input type="text" matInput formControlName="secondaryMiddleName" appAllowAlphaAndSpecificChar>
                </mat-form-field>

                <mat-form-field floatLabel="always" appearance="outline" style="width: 100%;">
                    <mat-label>Title</mat-label>
                    <mat-select formControlName="secondaryTitle">
                        <mat-option value="Mr.">Mr.</mat-option>
                        <mat-option value="Mrs.">Mrs.</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <mat-form-field floatLabel="always" appearance="outline" style="width: 100%">
                <mat-label>Email</mat-label>
                <input type="email" matInput formControlName="email">
            </mat-form-field>

            <div class="row">
                <mat-form-field floatLabel="always" appearance="outline">
                    <mat-label>Phone</mat-label>
                    <input type="text" matInput formControlName="phone" required placeholder="### ### ####"
                        appAllowOnlyNumbers>
                </mat-form-field>
                <mat-form-field floatLabel="always" appearance="outline">
                    <mat-label>Telephone</mat-label>
                    <input type="text" matInput formControlName="telephone" appAllowOnlyNumbers>
                </mat-form-field>
            </div>

            <mat-form-field floatLabel="always" appearance="outline" style="width: 100% !important">
                <mat-label>Address 1</mat-label>
                <input type="text" matInput required formControlName="address1">
            </mat-form-field>

            <mat-form-field floatLabel="always" appearance="outline" style="width: 100% !important">
                <mat-label>Address 2</mat-label>
                <input type="text" matInput formControlName="address2">
            </mat-form-field>

            <div style="display: flex; justify-content: space-between; gap: 20px !important; width: 100%">
                <mat-form-field floatLabel="always" appearance="outline">
                    <mat-label>Building</mat-label>
                    <input type="text" matInput formControlName="bldg" appAllowAlphanumeric>
                </mat-form-field>
                <mat-form-field floatLabel="always" appearance="outline">
                    <mat-label>Apartment</mat-label>
                    <input type="text" matInput formControlName="apt" appAllowAlphanumeric>
                </mat-form-field>
            </div>
            <div style="display: flex; justify-content: space-between; gap: 20px !important; width: 100%">
                <mat-form-field floatLabel="always" appearance="outline">
                    <mat-label>City</mat-label>
                    <input type="text" matInput formControlName="city" appAllowAlphaAndSpecificChar>
                </mat-form-field>
                <mat-form-field floatLabel="always" appearance="outline">
                    <mat-label>State</mat-label>
                    <mat-select formControlName="state">
                        <mat-option value="FL">FL</mat-option>
                        <mat-option value="NY">NY</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field floatLabel="always" appearance="outline">
                    <mat-label>Zip Code</mat-label>
                    <input type="text" matInput formControlName="zipCode" appAllowOnlyNumbers>
                </mat-form-field>
            </div>
        </form>
        <div [class.form-actions-desktop]="!isMobile" [class.form-actions-mobile]="isMobile">
            <button mat-raised-button (click)="navigateBack()" style="color: black">Back</button>
            <button mat-raised-button type="submit" (click)="onSubmit()" style="background-color: #ED2D89; color: white"
                [disabled]="savingCustomer$ | async">
                <mat-icon *ngIf="savingCustomer$ | async">
                    <mat-spinner diameter="18"></mat-spinner>
                </mat-icon>
                <p *ngIf="!(savingCustomer$ | async)">Save</p>
                <p *ngIf="savingCustomer$ | async">Saving...</p>
            </button>
        </div>
    </div>
</div>