<div class="container">
    <div class="header">
        <div style="display: flex; align-items: center; cursor: pointer; color: #005CBB;" (click)="navigateBack()">
            <mat-icon color="primary">arrow_back_ios</mat-icon>
            <h2>Customers</h2>
        </div>
    </div>
    <div class="body">
        <h1>{{ crudTitle() }} Customer</h1>
        <form *ngIf="!isMobile" [formGroup]="customerForm" class="form-desktop">
            <div class="information-region">
                <h3>Primary Customer</h3>
                <div style="display: flex; justify-content: space-between; gap: 20px !important">
                    <mat-form-field floatLabel="always" appearance="outline" style="width: 100%">
                        <mat-label>First Name</mat-label>
                        <input type="text" matInput required formControlName="primaryFirstName"
                            appAllowAlphaAndSpecificChar>
                    </mat-form-field>

                    <mat-form-field floatLabel="always" appearance="outline" style="width: 100%">
                        <mat-label>Last Name</mat-label>
                        <input type="text" matInput required formControlName="primaryLastName"
                            appAllowAlphaAndSpecificChar>
                    </mat-form-field>
                </div>

                <div style="display: flex; justify-content: space-between; gap: 20px !important">
                    <mat-form-field floatLabel="always" appearance="outline" style="width: 100%">
                        <mat-label>Middle Name</mat-label>
                        <input type="text" matInput formControlName="primaryMiddleName" appAllowAlphaAndSpecificChar>
                    </mat-form-field>
                    <mat-form-field floatLabel="always" appearance="outline" style="width: 100%">
                        <mat-label>Email</mat-label>
                        <input type="email" matInput formControlName="email">
                    </mat-form-field>
                </div>

                <div style="display: flex; justify-content: space-between; gap: 20px !important">
                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label>Title</mat-label>
                        <mat-select matInput formControlName="primaryTitle">
                            <mat-option value="Mr.">Mr.</mat-option>
                            <mat-option value="Mrs.">Mrs.</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label>Phone</mat-label>
                        <input type="text" matInput formControlName="primaryPhone" required placeholder="##########"
                            appAllowOnlyNumbers>
                    </mat-form-field>

                </div>
            </div>
            <div class="information-region">
                <h3>Secondary Customer</h3>
                <div style="display: flex; justify-content: space-between; gap: 20px !important">
                    <mat-form-field floatLabel="always" appearance="outline" style="width: 100%;">
                        <mat-label>First Name</mat-label>
                        <input type="text" matInput formControlName="secondaryFirstName" appAllowAlphaAndSpecificChar>
                    </mat-form-field>

                    <mat-form-field floatLabel="always" appearance="outline" style="width: 100%;">
                        <mat-label>Last Name</mat-label>
                        <input type="text" matInput formControlName="secondaryLastName" appAllowAlphaAndSpecificChar>
                    </mat-form-field>
                </div>

                <div style="display: flex; justify-content: space-between; gap: 20px !important">
                    <mat-form-field floatLabel="always" appearance="outline" style="width: 100%;">
                        <mat-label>Middle Name</mat-label>
                        <input type="text" matInput formControlName="secondaryMiddleName" appAllowAlphaAndSpecificChar>
                    </mat-form-field>

                    <mat-form-field floatLabel="always" appearance="outline" style="width: 100%;">
                        <mat-label>Title</mat-label>
                        <mat-select formControlName="secondaryTitle">
                            <mat-option value="Mr.">Mr.</mat-option>
                            <mat-option value="Mrs.">Mrs.</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <mat-form-field floatLabel="always" appearance="outline">
                    <mat-label>Secondary Phone</mat-label>
                    <input type="text" matInput formControlName="secondaryPhone" placeholder="##########"
                        appAllowOnlyNumbers>
                </mat-form-field>
            </div>

            <div class="information-region">
                <h3>Florida Address</h3>
                <div style="display: flex; justify-content: space-between; gap: 20px !important">
                    <mat-form-field floatLabel="always" appearance="outline" style="width: 100%;">
                        <mat-label>Address 1</mat-label>
                        <input type="text" matInput required
                            [formControl]="customerForm.controls.floridaAddress.controls.address1">
                    </mat-form-field>

                    <mat-form-field floatLabel="always" appearance="outline" style="width: 100%;">
                        <mat-label>Address 2</mat-label>
                        <input type="text" matInput
                            [formControl]="customerForm.controls.floridaAddress.controls.address2">
                    </mat-form-field>
                </div>
                <div style="display: flex; justify-content: space-between; gap: 20px !important">
                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label>Building</mat-label>
                        <input type="text" matInput [formControl]="customerForm.controls.floridaAddress.controls.bldg"
                            appAllowAlphanumeric>
                    </mat-form-field>
                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label>Apartment</mat-label>
                        <input type="text" matInput [formControl]="customerForm.controls.floridaAddress.controls.apt"
                            appAllowAlphanumeric>
                    </mat-form-field>
                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label>City</mat-label>
                        <input type="text" matInput [formControl]="customerForm.controls.floridaAddress.controls.city"
                            appAllowAlphaAndSpecificChar>
                    </mat-form-field>
                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label>Zip Code</mat-label>
                        <input type="text" matInput
                            [formControl]="customerForm.controls.floridaAddress.controls.zipCode" appAllowOnlyNumbers>
                    </mat-form-field>
                </div>
            </div>

            <div class="information-region">
                <h3>New York Address</h3>
                <div style="display: flex; justify-content: space-between; gap: 20px !important">

                    <mat-form-field floatLabel="always" appearance="outline" style="width: 100%;">
                        <mat-label>Address 1</mat-label>
                        <input type="text" matInput required
                            [formControl]="customerForm.controls.newYorkAddress.controls.address1">
                    </mat-form-field>

                    <mat-form-field floatLabel="always" appearance="outline" style="width: 100%;">
                        <mat-label>Address 2</mat-label>
                        <input type="text" matInput
                            [formControl]="customerForm.controls.newYorkAddress.controls.address2">
                    </mat-form-field>
                </div>
                <div style="display: flex; justify-content: space-between; gap: 20px !important">
                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label>Building</mat-label>
                        <input type="text" matInput [formControl]="customerForm.controls.newYorkAddress.controls.bldg"
                            appAllowAlphanumeric>
                    </mat-form-field>
                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label>Apartment</mat-label>
                        <input type="text" matInput [formControl]="customerForm.controls.newYorkAddress.controls.apt"
                            appAllowAlphanumeric>
                    </mat-form-field>
                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label>City</mat-label>
                        <input type="text" matInput [formControl]="customerForm.controls.newYorkAddress.controls.city"
                            appAllowAlphaAndSpecificChar>
                    </mat-form-field>
                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label>Zip Code</mat-label>
                        <input type="text" matInput
                            [formControl]="customerForm.controls.newYorkAddress.controls.zipCode" appAllowOnlyNumbers>
                    </mat-form-field>
                </div>
            </div>
            <div class="vehicle-region">
                <h3>Vehicles</h3>

                <div *ngIf="customerVM$ | async as customerVM">
                    <div *ngIf="customerVM.vehicles && customerVM.vehicles.length">
                        <table mat-table [dataSource]="customerVM.vehicles" class="mat-elevation-z8"
                            style="border: 1px solid gray; margin-bottom: 20px">
                            <ng-container matColumnDef="recNo">
                                <th mat-header-cell *matHeaderCellDef> Rec No </th>
                                <td mat-cell *matCellDef="let element"> {{element.recNo}} </td>
                            </ng-container>
                            <ng-container matColumnDef="color">
                                <th mat-header-cell *matHeaderCellDef> Color </th>
                                <td mat-cell *matCellDef="let element"> {{element.color}} </td>
                            </ng-container>
                            <ng-container matColumnDef="year">
                                <th mat-header-cell *matHeaderCellDef> Year </th>
                                <td mat-cell *matCellDef="let element"> {{element.year}} </td>
                            </ng-container>
                            <ng-container matColumnDef="make">
                                <th mat-header-cell *matHeaderCellDef> Make </th>
                                <td mat-cell *matCellDef="let element"> {{element.make}} </td>
                            </ng-container>
                            <ng-container matColumnDef="model">
                                <th mat-header-cell *matHeaderCellDef> Model </th>
                                <td mat-cell *matCellDef="let element"> {{element.model}} </td>
                            </ng-container>
                            <ng-container matColumnDef="vin">
                                <th mat-header-cell *matHeaderCellDef> VIN </th>
                                <td mat-cell *matCellDef="let element"> {{element.vin}} </td>
                            </ng-container>
                            <ng-container matColumnDef="plate">
                                <th mat-header-cell *matHeaderCellDef> Plate </th>
                                <td mat-cell *matCellDef="let element"> {{element.plate}} </td>
                            </ng-container>
                            <ng-container matColumnDef="state">
                                <th mat-header-cell *matHeaderCellDef> State </th>
                                <td mat-cell *matCellDef="let element"> {{element.state}} </td>
                            </ng-container>
                            <ng-container matColumnDef="weight">
                                <th mat-header-cell *matHeaderCellDef> Weight (lbs) </th>
                                <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
                            </ng-container>

                            <ng-container matColumnDef="actions">
                                <th mat-header-cell *matHeaderCellDef>Actions</th>
                                <td mat-cell *matCellDef="let element">
                                    <button mat-icon-button color="primary" (click)="vehicleForm.patchValue(element)">
                                        <mat-icon>edit</mat-icon>
                                    </button>
                                    <button mat-icon-button color="warn" (click)="deleteVehicle(element.id)">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="vehiclesProperties"></tr>
                            <tr mat-row *matRowDef="let row; columns: vehiclesProperties;"></tr>
                        </table>
                    </div>
                    <div *ngIf="customerVM.DocumentID && (!customerVM.vehicles || customerVM.vehicles.length === 0)"
                        style="margin-bottom: 20px">
                        <div style="margin: 10px">No register vehicles for this customer</div>
                    </div>
                </div>

                <!-- temporary vehicles (not yet persisted) -->
                <div *ngIf="tempVehicles && tempVehicles.length" style="margin-bottom: 20px">
                    <h4 style="margin-bottom: 0px !important">Pending Vehicles</h4>
                    <table mat-table [dataSource]="tempVehicles" class="mat-elevation-z8"
                        style="border: 1px solid gray; margin-bottom: 20px">
                        <ng-container matColumnDef="recNo">
                            <th mat-header-cell *matHeaderCellDef> Rec No </th>
                            <td mat-cell *matCellDef="let element"> {{element.recNo}} </td>
                        </ng-container>
                        <ng-container matColumnDef="color">
                            <th mat-header-cell *matHeaderCellDef> Color </th>
                            <td mat-cell *matCellDef="let element"> {{element.color}} </td>
                        </ng-container>
                        <ng-container matColumnDef="year">
                            <th mat-header-cell *matHeaderCellDef> Year </th>
                            <td mat-cell *matCellDef="let element"> {{element.year}} </td>
                        </ng-container>
                        <ng-container matColumnDef="make">
                            <th mat-header-cell *matHeaderCellDef> Make </th>
                            <td mat-cell *matCellDef="let element"> {{element.make}} </td>
                        </ng-container>
                        <ng-container matColumnDef="model">
                            <th mat-header-cell *matHeaderCellDef> Model </th>
                            <td mat-cell *matCellDef="let element"> {{element.model}} </td>
                        </ng-container>
                        <ng-container matColumnDef="vin">
                            <th mat-header-cell *matHeaderCellDef> VIN </th>
                            <td mat-cell *matCellDef="let element"> {{element.vin}} </td>
                        </ng-container>
                        <ng-container matColumnDef="plate">
                            <th mat-header-cell *matHeaderCellDef> Plate </th>
                            <td mat-cell *matCellDef="let element"> {{element.plate}} </td>
                        </ng-container>
                        <ng-container matColumnDef="state">
                            <th mat-header-cell *matHeaderCellDef> State </th>
                            <td mat-cell *matCellDef="let element"> {{element.state}} </td>
                        </ng-container>
                        <ng-container matColumnDef="weight">
                            <th mat-header-cell *matHeaderCellDef> Weight (lbs) </th>
                            <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
                        </ng-container>
                        <ng-container matColumnDef="actions">
                            <th mat-header-cell *matHeaderCellDef>Actions</th>
                            <td mat-cell *matCellDef="let element">
                                <button mat-icon-button color="primary" (click)="vehicleForm.patchValue(element)">
                                    <mat-icon>edit</mat-icon>
                                </button>
                                <button mat-icon-button color="warn" (click)="deleteTempVehicle(element.tempId)">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="vehiclesProperties"></tr>
                        <tr mat-row *matRowDef="let row; columns: vehiclesProperties;"></tr>
                    </table>
                </div>

                <!-- inline add vehicle form -->
                <form [formGroup]="vehicleForm" style="margin-top: 50px">
                    <h4>Add New Vehicle</h4>
                    <div style="display:flex; justify-content: space-between; gap: 5px">
                        <mat-form-field floatLabel="always" appearance="outline" style="flex:1">
                            <mat-label>Color</mat-label>
                            <input matInput formControlName="color">
                        </mat-form-field>
                        <mat-form-field floatLabel="always" appearance="outline" style="flex:1">
                            <mat-label>Year</mat-label>
                            <input matInput type="number" formControlName="year">
                        </mat-form-field>
                        <mat-form-field floatLabel="always" appearance="outline" style="flex:1">
                            <mat-label>Make</mat-label>
                            <input matInput formControlName="make">
                        </mat-form-field>
                        <mat-form-field floatLabel="always" appearance="outline" style="flex:1">
                            <mat-label>Model</mat-label>
                            <input matInput formControlName="model">
                        </mat-form-field>
                    </div>
                    <div style="display:flex; justify-content: space-between; margin-top:8px; gap: 5px">
                        <mat-form-field floatLabel="always" appearance="outline" style="flex:1">
                            <mat-label>Plate</mat-label>
                            <input matInput formControlName="plate">
                        </mat-form-field>
                        <mat-form-field floatLabel="always" appearance="outline" style="flex:1">
                            <mat-label>State</mat-label>
                            <input matInput formControlName="state">
                        </mat-form-field>
                        <mat-form-field floatLabel="always" appearance="outline" style="flex:1">
                            <mat-label>VIN</mat-label>
                            <input matInput formControlName="vin">
                        </mat-form-field>
                        <mat-form-field floatLabel="always" appearance="outline" style="flex:1">
                            <mat-label>Weight (lbs)</mat-label>
                            <input matInput type="number" formControlName="weight">
                        </mat-form-field>

                    </div>
                    <div style="display: flex; justify-content: start; margin-top:8px;">
                        <mat-form-field floatLabel="always" appearance="outline">
                            <mat-label>Rec No.</mat-label>
                            <input matInput type="text" formControlName="recNo">
                            <mat-hint>Leave it blank if you want to generate a new random record number</mat-hint>
                        </mat-form-field>
                    </div>
                    <div style="display:flex; justify-content: end; align-items:center; margin-bottom: 15px">
                        <button mat-raised-button color="primary" type="button" (click)="addVehicle()">Add
                            Vehicle</button>
                    </div>
                </form>
            </div>
        </form>

        <!-- Vehicles section -->


        <form *ngIf="isMobile" [formGroup]="customerForm" class="form-mobile">
            <mat-form-field floatLabel="always" appearance="outline" style="width: 100%">
                <mat-label>First Name</mat-label>
                <input type="text" matInput required formControlName="primaryFirstName" appAllowAlphaAndSpecificChar>
            </mat-form-field>

            <mat-form-field floatLabel="always" appearance="outline" style="width: 100%">
                <mat-label>Last Name</mat-label>
                <input type="text" matInput required formControlName="primaryLastName" appAllowAlphaAndSpecificChar>
            </mat-form-field>

            <div style="display: flex; justify-content: space-between; width: 100%">
                <mat-form-field floatLabel="always" appearance="outline" style="width: 48%">
                    <mat-label>Middle Name</mat-label>
                    <input type="text" matInput formControlName="primaryMiddleName" appAllowAlphaAndSpecificChar>
                </mat-form-field>
                <mat-form-field floatLabel="always" appearance="outline" style="width: 48%">
                    <mat-label>Title</mat-label>
                    <mat-select matInput formControlName="primaryTitle">
                        <mat-option value="Mr.">Mr.</mat-option>
                        <mat-option value="Mrs.">Mrs.</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <mat-form-field floatLabel="always" appearance="outline" style="width: 100%">
                <mat-label>Email</mat-label>
                <input type="email" matInput formControlName="email">
            </mat-form-field>

            <div style="display: flex; justify-content: space-between; width: 100%">
                <mat-form-field floatLabel="always" appearance="outline" style="width: 48%">
                    <mat-label>Phone</mat-label>
                    <input type="text" matInput formControlName="primaryPhone" required placeholder="##########"
                        appAllowOnlyNumbers>
                </mat-form-field>

            </div>

            <h3>Secondary Customer</h3>

            <mat-form-field floatLabel="always" appearance="outline" style="width: 100%;">
                <mat-label>First Name</mat-label>
                <input type="text" matInput formControlName="secondaryFirstName" appAllowAlphaAndSpecificChar>
            </mat-form-field>

            <mat-form-field floatLabel="always" appearance="outline" style="width: 100%;">
                <mat-label>Last Name</mat-label>
                <input type="text" matInput formControlName="secondaryLastName" appAllowAlphaAndSpecificChar>
            </mat-form-field>

            <div style="display: flex; justify-content: space-between; width: 100%">
                <mat-form-field floatLabel="always" appearance="outline" style="width: 48%">
                    <mat-label>Middle Name</mat-label>
                    <input type="text" matInput formControlName="secondaryMiddleName" appAllowAlphaAndSpecificChar>
                </mat-form-field>

                <mat-form-field floatLabel="always" appearance="outline" style="width: 48%">
                    <mat-label>Title</mat-label>
                    <mat-select formControlName="secondaryTitle">
                        <mat-option value="Mr.">Mr.</mat-option>
                        <mat-option value="Mrs.">Mrs.</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <mat-form-field floatLabel="always" appearance="outline" style="width: 48%">
                <mat-label>Secondary Phone</mat-label>
                <input type="text" matInput formControlName="secondaryPhone" placeholder="##########"
                    appAllowOnlyNumbers>
            </mat-form-field>

            <h3>Florida Address</h3>
            <mat-form-field floatLabel="always" appearance="outline" style="width: 100%;">
                <mat-label>Address 1</mat-label>
                <input type="text" matInput required
                    [formControl]="customerForm.controls.floridaAddress.controls.address1">
            </mat-form-field>

            <mat-form-field floatLabel="always" appearance="outline" style="width: 100%;">
                <mat-label>Address 2</mat-label>
                <input type="text" matInput [formControl]="customerForm.controls.floridaAddress.controls.address2">
            </mat-form-field>
            <div style="display: flex; justify-content: space-between; width: 100%">
                <mat-form-field floatLabel="always" appearance="outline" style="width: 48%">
                    <mat-label>Building</mat-label>
                    <input type="text" matInput [formControl]="customerForm.controls.floridaAddress.controls.bldg"
                        appAllowAlphanumeric>
                </mat-form-field>
                <mat-form-field floatLabel="always" appearance="outline" style="width: 48%">
                    <mat-label>Apartment</mat-label>
                    <input type="text" matInput [formControl]="customerForm.controls.floridaAddress.controls.apt"
                        appAllowAlphanumeric>
                </mat-form-field>
            </div>
            <div style="display: flex; justify-content: space-between; width: 100%">
                <mat-form-field floatLabel="always" appearance="outline" style="width: 48%">
                    <mat-label>City</mat-label>
                    <input type="text" matInput [formControl]="customerForm.controls.floridaAddress.controls.city"
                        appAllowAlphaAndSpecificChar>
                </mat-form-field>
                <mat-form-field floatLabel="always" appearance="outline" style="width: 48%">
                    <mat-label>Zip Code</mat-label>
                    <input type="text" matInput [formControl]="customerForm.controls.floridaAddress.controls.zipCode"
                        appAllowOnlyNumbers>
                </mat-form-field>
            </div>

            <h3>New York Address</h3>
            <mat-form-field floatLabel="always" appearance="outline" style="width: 100%;">
                <mat-label>Address 1</mat-label>
                <input type="text" matInput required
                    [formControl]="customerForm.controls.newYorkAddress.controls.address1">
            </mat-form-field>

            <mat-form-field floatLabel="always" appearance="outline" style="width: 100%;">
                <mat-label>Address 2</mat-label>
                <input type="text" matInput [formControl]="customerForm.controls.newYorkAddress.controls.address2">
            </mat-form-field>
            <div style="display: flex; justify-content: space-between; width: 100%">
                <mat-form-field floatLabel="always" appearance="outline" style="width: 48%">
                    <mat-label>Building</mat-label>
                    <input type="text" matInput [formControl]="customerForm.controls.newYorkAddress.controls.bldg"
                        appAllowAlphanumeric>
                </mat-form-field>
                <mat-form-field floatLabel="always" appearance="outline" style="width: 48%">
                    <mat-label>Apartment</mat-label>
                    <input type="text" matInput [formControl]="customerForm.controls.newYorkAddress.controls.apt"
                        appAllowAlphanumeric>
                </mat-form-field>
            </div>
            <div style="display: flex; justify-content: space-between; width: 100%">
                <mat-form-field floatLabel="always" appearance="outline" style="width: 48%">
                    <mat-label>City</mat-label>
                    <input type="text" matInput [formControl]="customerForm.controls.newYorkAddress.controls.city"
                        appAllowAlphaAndSpecificChar>
                </mat-form-field>
                <mat-form-field floatLabel="always" appearance="outline" style="width: 48%">
                    <mat-label>Zip Code</mat-label>
                    <input type="text" matInput [formControl]="customerForm.controls.newYorkAddress.controls.zipCode"
                        appAllowOnlyNumbers>
                </mat-form-field>
            </div>

            <h3>Vehicles</h3>

            <div class="vehicles-list" *ngIf="currentCustomer?.vehicles && currentCustomer?.vehicles?.length">
                <div class="vehicle-item" *ngFor="let vehicle of currentCustomer?.vehicles">
                    <div style="width: 75%">
                        <div class="vehicle-detail">
                            <span class="detail-label">Rec No:</span>
                            <span class="detail-value">{{ vehicle.recNo }}</span>
                        </div>
                        <div class="vehicle-detail">
                            <span class="detail-label">Color:</span>
                            <span class="detail-value">{{ vehicle.color }}</span>
                        </div>
                        <div class="vehicle-detail">
                            <span class="detail-label">Year:</span>
                            <span class="detail-value">{{ vehicle.year }}</span>
                        </div>
                        <div class="vehicle-detail">
                            <span class="detail-label">Make:</span>
                            <span class="detail-value">{{ vehicle.make }}</span>
                        </div>
                        <div class="vehicle-detail">
                            <span class="detail-label">Model:</span>
                            <span class="detail-value">{{ vehicle.model }}</span>
                        </div>
                        <div class="vehicle-detail">
                            <span class="detail-label">Plate:</span>
                            <span class="detail-value">{{ vehicle.plate }}</span>
                        </div>
                        <div class="vehicle-detail">
                            <span class="detail-label">VIN:</span>
                            <span class="detail-value">{{ vehicle.vin }}</span>
                        </div>
                    </div>
                    <div class="card-actions" style="width: 25%">
                        <button mat-button style="color: red;" (click)="deleteVehicle(vehicle.id)">Delete</button>
                    </div>
                </div>
            </div>

            <div *ngIf="currentCustomer && (!currentCustomer.vehicles || currentCustomer.vehicles.length === 0)"
                style="margin-bottom: 20px; width: 100%">
                <div style="margin: 10px">No register vehicles for this customer</div>
            </div>
            <!-- temporary vehicles (not yet persisted) -->
            <h3 *ngIf="tempVehicles && tempVehicles.length > 0">Pending vehicles</h3>
            <div class="vehicles-list">
                <div class="vehicle-item" *ngFor="let vehicle of tempVehicles">
                    <div style="width: 75%">
                        <div class="vehicle-detail">
                            <span class="detail-label">Rec No:</span>
                            <span class="detail-value">{{ vehicle.recNo }}</span>
                        </div>
                        <div class="vehicle-detail">
                            <span class="detail-label">Color:</span>
                            <span class="detail-value">{{ vehicle.color }}</span>
                        </div>
                        <div class="vehicle-detail">
                            <span class="detail-label">Year:</span>
                            <span class="detail-value">{{ vehicle.year }}</span>
                        </div>
                        <div class="vehicle-detail">
                            <span class="detail-label">Make:</span>
                            <span class="detail-value">{{ vehicle.make }}</span>
                        </div>
                        <div class="vehicle-detail">
                            <span class="detail-label">Model:</span>
                            <span class="detail-value">{{ vehicle.model }}</span>
                        </div>
                        <div class="vehicle-detail">
                            <span class="detail-label">Plate:</span>
                            <span class="detail-value">{{ vehicle.plate }}</span>
                        </div>
                        <div class="vehicle-detail">
                            <span class="detail-label">VIN:</span>
                            <span class="detail-value">{{ vehicle.vin }}</span>
                        </div>
                    </div>
                    <div class="card-actions" style="width: 25%">
                        <button mat-button style="color: red;" (click)="deleteTempVehicle(vehicle)">Delete</button>
                    </div>
                </div>
            </div>


            <form [formGroup]="vehicleForm" style="width: 100%">
                <div style="display: flex; justify-content: space-between; width: 100%">
                    <mat-form-field floatLabel="always" appearance="outline" style="width: 48%">
                        <mat-label>Color</mat-label>
                        <input matInput formControlName="color">
                    </mat-form-field>
                    <mat-form-field floatLabel="always" appearance="outline" style="width: 48%">
                        <mat-label>Year</mat-label>
                        <input matInput type="number" formControlName="year">
                    </mat-form-field>
                </div>
                <div style="display: flex; justify-content: space-between; width: 100%">
                    <mat-form-field floatLabel="always" appearance="outline" style="width: 48%">
                        <mat-label>Make</mat-label>
                        <input matInput formControlName="make">
                    </mat-form-field>
                    <mat-form-field floatLabel="always" appearance="outline" style="width: 48%">
                        <mat-label>Model</mat-label>
                        <input matInput formControlName="model">
                    </mat-form-field>
                </div>
                <div style="display: flex; justify-content: space-between; width: 100%">
                    <mat-form-field floatLabel="always" appearance="outline" style="width: 48%">
                        <mat-label>Plate</mat-label>
                        <input matInput formControlName="plate">
                    </mat-form-field>
                    <mat-form-field floatLabel="always" appearance="outline" style="width: 48%">
                        <mat-label>State</mat-label>
                        <input matInput formControlName="state">
                    </mat-form-field>
                </div>
                <div style="display: flex; justify-content: space-between; width: 100%">
                    <mat-form-field floatLabel="always" appearance="outline" style="width: 48%">
                        <mat-label>VIN</mat-label>
                        <input matInput formControlName="vin">
                    </mat-form-field>
                    <mat-form-field floatLabel="always" appearance="outline" style="width: 48%">
                        <mat-label>Weight (lbs)</mat-label>
                        <input matInput type="number" formControlName="weight">
                    </mat-form-field>

                </div>
                <div style="display: flex; justify-content: space-between; width: 100%">
                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label>Rec No.</mat-label>
                        <input matInput type="text" formControlName="recNo">
                        <mat-hint>Leave it blank if you want to generate a new random record number</mat-hint>
                    </mat-form-field>
                </div>
                <div style="display:flex; justify-content: end; align-items:center; margin-bottom: 15px">
                    <button mat-raised-button color="primary" type="button" (click)="addVehicle()">
                        Add Vehicle
                    </button>
                </div>
            </form>
        </form>
        <div [class.form-actions-desktop]="!isMobile" [class.form-actions-mobile]="isMobile">
            <button mat-raised-button (click)="navigateBack()" style="color: black">Back</button>
            <button
                *ngIf="(customerForm.dirty || (tempVehicles && tempVehicles.length > 0)) && !(savingCustomer$ | async)"
                mat-raised-button type="submit" (click)="onSubmit()"
                style="background-color: #ED2D89; color: white;">
                Save
            </button>
            <button *ngIf="(customerForm.dirty || (tempVehicles && tempVehicles.length > 0)) && (savingCustomer$ | async)"
                mat-raised-button disabled style="background-color: gray; color: white;">
                <mat-icon *ngIf="savingCustomer$">
                    <mat-spinner diameter="18"></mat-spinner>
                </mat-icon>
                Saving...
            </button>

            <button *ngIf="customerForm.pristine && (tempVehicles && tempVehicles.length === 0) " mat-raised-button
                style="background-color: gray; color: white" disabled>
                Save
            </button>
        </div>
    </div>
</div>