<div class="container">
  <div class="header">
    <div style="display: flex; align-items: center; cursor: pointer; color: #005CBB;" (click)="navigateBack()">
      <mat-icon color="primary">arrow_back_ios</mat-icon>
      <h2>Customers</h2>
    </div>
  </div>
  <div *ngIf="customer$ | async as customer" class="body">
    <div class="desktop">
      <mat-card [class.customer-card-desktop]="!isMobile" [class.customer-card-mobile]="isMobile">
        <mat-card-header>
          <div mat-card-avatar [class.male-customer-avatar]="customer.primaryTitle === 'Mr.'"
            [class.female-customer-avatar]="customer.primaryTitle === 'Mrs.'">
            <mat-icon>person</mat-icon>
          </div>
          <mat-card-title>{{ customer.primaryTitle }} {{ customer.primaryLastName }}, {{ customer.primaryFirstName }}
            {{ customer.primaryMiddleName }}</mat-card-title>
          <mat-card-subtitle *ngIf="customer.secondaryFirstName">
            {{ customer.secondaryTitle }} {{ customer.secondaryLastName }}, {{ customer.secondaryFirstName }} {{
            customer.secondaryMiddleName }}
          </mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          <section class="info-section">
            <h4>Contact Information</h4>
            <p>
              <mat-icon>email</mat-icon>
              <a *ngIf="customer.email" [href]="'mailto:' + customer.email">{{ customer.email }}</a>
              <span *ngIf="!customer.email">No provided</span>
            </p>
            <div style="display: flex; gap: 25px">
              <p>
                <mat-icon>phone</mat-icon>
                <a *ngIf="customer.phone" [href]="'tel:' + customer.phone">{{ customer.phone }}</a>
                <span *ngIf="!customer.phone">No provided</span>
              </p>
              <p *ngIf="customer.telephone">
                <mat-icon>phone</mat-icon>
                <a *ngIf="!customer.telephone" [href]="'tel:' + customer.telephone">{{ customer.telephone }}</a>
                <span *ngIf="!customer.telephone">No provided</span>
            </div>

          </section>

          <mat-divider></mat-divider>
          <section class="info-section">
            <h4>Addresses</h4>
            <div *ngIf="customer.floridaAddress" style="display: flex; gap: 5px">
              <mat-icon>location_on</mat-icon>
              <div style="display: block">
                <div>{{ customer.floridaAddress.address1 }} {{ customer.floridaAddress.address2 }} {{
                  customer.floridaAddress.city }}, {{ customer.floridaAddress.state }} {{
                  customer.floridaAddress.zipCode }}</div>
              </div>
            </div>
            <div *ngIf="customer.newYorkAddress" style="display: flex; gap: 5px">
              <mat-icon>location_on</mat-icon>
              <div style="display: block">
                <div>{{ customer.newYorkAddress.address1 }} {{ customer.newYorkAddress.address2 }} {{
                  customer.newYorkAddress.city }}, {{ customer.newYorkAddress.state }} {{
                  customer.newYorkAddress.zipCode }}</div>
              </div>
            </div>
          </section>
        </mat-card-content>
      </mat-card>
      <div>
        <section class="vehicles">
          <h3>Select vehicle(s) to book</h3>
          <div *ngIf="customer.vehicles && customer.vehicles.length; else noVeh">
            <table mat-table [dataSource]="customer.vehicles" class="mat-elevation-z8"
              style="border: 1px solid gray; margin-bottom: 20px">

              <ng-container matColumnDef="checkbox">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let element">
                  <mat-checkbox [checked]="vehicleSelection[element.id]"
                    (change)="vehicleSelection[element.id] = $event.checked"></mat-checkbox>
                </td>
              </ng-container>

              <ng-container matColumnDef="year">
                <th mat-header-cell *matHeaderCellDef> Year </th>
                <td mat-cell *matCellDef="let element"> {{element.year}} </td>
              </ng-container>
              <ng-container matColumnDef="make">
                <th mat-header-cell *matHeaderCellDef> Make </th>
                <td mat-cell *matCellDef="let element"> {{element.make}} </td>
              </ng-container>
              <ng-container matColumnDef="model">
                <th mat-header-cell *matHeaderCellDef> Model </th>
                <td mat-cell *matCellDef="let element"> {{element.model}} </td>
              </ng-container>
              <ng-container matColumnDef="vin">
                <th mat-header-cell *matHeaderCellDef> VIN </th>
                <td mat-cell *matCellDef="let element"> {{element.vin}} </td>
              </ng-container>
              <ng-container matColumnDef="plate">
                <th mat-header-cell *matHeaderCellDef> Plate </th>
                <td mat-cell *matCellDef="let element"> {{element.plate}} </td>
              </ng-container>
              <ng-container matColumnDef="state">
                <th mat-header-cell *matHeaderCellDef> State </th>
                <td mat-cell *matCellDef="let element"> {{element.state}} </td>
              </ng-container>
              <ng-container matColumnDef="weight">
                <th mat-header-cell *matHeaderCellDef> Weight (lbs) </th>
                <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="vehiclesProperties"></tr>
              <tr mat-row *matRowDef="let row; columns: vehiclesProperties;"></tr>
            </table>
          </div>
          <ng-template #noVeh>
            <div>No vehicles found for this customer</div>
          </ng-template>
        </section>

        <section class="paycheck">
          <h3>Paycheck</h3>
          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Check number</mat-label>
            <input matInput [formControl]="form.controls.checkNumber">
          </mat-form-field>
          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Bank name</mat-label>
            <input matInput [formControl]="form.controls.bankName">
          </mat-form-field>
          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Amount</mat-label>
            <input type="number" matInput [formControl]="form.controls.amount">
          </mat-form-field>
        </section>

        <section>
          <h3>Customer Arrival</h3>
          <div class="info">
            <mat-form-field appearance="outline" floatLabel="always">
              <mat-label>Arrival (date & time)</mat-label>
              <input required matInput [matDatepicker]="picker" [formControl]="form.controls.arrivalAt">
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="outline" floatLabel="always">
              <mat-label>Pick a time</mat-label>
              <input required matInput [matTimepicker]="timePicker" [formControl]="form.controls.arrivalAt">
              <mat-timepicker-toggle matIconSuffix [for]="timePicker" />
              <mat-timepicker #timePicker />
            </mat-form-field>
            <div>Week #: {{ weekOfYear }}</div>
          </div>

        </section>

        <section>
          <h3>Route</h3>
          <div class="info">
            <mat-form-field appearance="outline" floatLabel="always">
              <mat-label>Origin</mat-label>
              <mat-select [formControl]="form.controls.origin" (selectionChange)="updateDestination($event)">
                <mat-option value="Florida">Florida</mat-option>
                <mat-option value="New York">New York</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" floatLabel="always">
              <mat-label>Destination</mat-label>
              <mat-select [formControl]="form.controls.destination" (selectionChange)="updateOrigin($event)">
                <mat-option value="Florida">Florida</mat-option>
                <mat-option value="New York">New York</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

        </section>

        <section class="truck">
          <h3>Truck & Schedule</h3>
          <div *ngIf="trucks$ | async as trucks">
            <table mat-table [dataSource]="trucks" class="mat-elevation-z8"
              style="border: 1px solid gray; margin-bottom: 20px">

              <ng-container matColumnDef="checkbox">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let element">
                  <mat-checkbox [checked]="vehicleSelection[element.id]"
                    (change)="vehicleSelection[element.id] = $event.checked"></mat-checkbox>
                </td>
              </ng-container>

              <ng-container matColumnDef="year">
                <th mat-header-cell *matHeaderCellDef> Year </th>
                <td mat-cell *matCellDef="let element"> {{element.year}} </td>
              </ng-container>
              <ng-container matColumnDef="make">
                <th mat-header-cell *matHeaderCellDef> Make </th>
                <td mat-cell *matCellDef="let element"> {{element.make}} </td>
              </ng-container>
              <ng-container matColumnDef="model">
                <th mat-header-cell *matHeaderCellDef> Model </th>
                <td mat-cell *matCellDef="let element"> {{element.model}} </td>
              </ng-container>
              <ng-container matColumnDef="vin">
                <th mat-header-cell *matHeaderCellDef> VIN </th>
                <td mat-cell *matCellDef="let element"> {{element.vin}} </td>
              </ng-container>
              <ng-container matColumnDef="plate">
                <th mat-header-cell *matHeaderCellDef> Plate </th>
                <td mat-cell *matCellDef="let element"> {{element.plate}} </td>
              </ng-container>
              <ng-container matColumnDef="state">
                <th mat-header-cell *matHeaderCellDef> State </th>
                <td mat-cell *matCellDef="let element"> {{element.state}} </td>
              </ng-container>
              <ng-container matColumnDef="weight">
                <th mat-header-cell *matHeaderCellDef> Weight (lbs) </th>
                <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="vehiclesProperties"></tr>
              <tr mat-row *matRowDef="let row; columns: vehiclesProperties;"></tr>
            </table>
          </div>
          
          <mat-form-field appearance="outline">
            <mat-label>Select Truck</mat-label>
            <mat-select [formControl]="form.controls.truckId">
              <ng-container *ngIf="trucks$ | async as trucks">
                <mat-option *ngFor="let t of trucks" [value]="t.id">{{t.truckNumber}} - {{t.companyName}}</mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Departure date</mat-label>
            <input type="date" matInput [formControl]="form.controls.truckDeparture">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Arrival date</mat-label>
            <input type="date" matInput [formControl]="form.controls.truckArrival">
          </mat-form-field>
        </section>
      </div>
    </div>

  </div>
  <div style="display: flex; justify-content: end; width: 100%; margin-top:16px">
    <button mat-raised-button color="primary" (click)="save()">Save Booking</button>
    <button mat-button (click)="router.navigate(['/main/customer'])">Cancel</button>
  </div>
</div>