.header {
    padding: 20px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h3 {
    margin: 0;
    min-width: 200px;
}

.search-form{
    display: flex; 
    align-items: center; 
    gap: 10px;
}

.search-form button {
        width: 150px !important;
    }

.no-results {
    text-align: center;
    padding: 40px 20px;
    color: #999;
    font-size: 16px;
}

.customer-section {
    margin-bottom: 30px;
}

.customer-header {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    border-radius: 4px 4px 0 0;
    border: 2px solid gray;
    margin-bottom: 0;
}

.customer-header h2 {
    margin: 0 0 5px 0;
    font-size: 20px;
}

.rec-section {
    margin-bottom: 20px;
    border-left: 3px solid #FF9800;
    background-color: #fff8f0;
    padding: 15px;
    border-radius: 0 4px 4px 0;
}

.rec-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 12px;
    border-bottom: 2px solid #FF9800;
    padding-bottom: 10px;
}

.rec-print-button button {
    font-size: 12px;
}

p {
    margin: 0px;
}

.print-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.print-controls h3 {
    margin: 0;
}

.page p {
    margin-bottom: 2px;
}

@media print {

    .header,
    .rec-header,
    .print-controls,
    .customer-header,
    app-header,
    mat-progress-bar,
    .no-results {
        display: none !important;
        visibility: hidden
    }

    body {
        margin: 0;
        padding: 0;
        background: white;
    }

    #print-area {
        margin: 0 !important;
        padding: 0 !important;
    }

    .rec-section {
        padding: 0px 15px 0px 15px !important;
        border: none !important;
        background: white !important;
        margin: 0px;
    }

    .page{
        height: 1044px;
        font-size: 14px;
        margin: 0px;
    }

    .customer-section {
        margin: 0px !important;
    }
}