<div class="headers">
    <h1>Customers</h1>
    <button mat-button mat-raised-button (click)="addCustomer()" style="background-color: #ED2D89; color: white">
        Add Customer
    </button>
</div>
<div class="search">
    <mat-form-field appearance="outline" subscriptSizing="dynamic" [class.form-field]="!isMobile"
        [class.form-field-mobile]="isMobile">
        <input type="text" matInput [formControl]="searchCustomer"
            [placeholder]="!isMobile ? 'Search by first name, last name or phone number' : 'Search customer'"
            (keyup.enter)="onSearch()">
        <button mat-icon-button matSuffix class="search-button" color="primary" (click)="onSearch()">
            <mat-icon>search</mat-icon>
        </button>
    </mat-form-field>

</div>
<div *ngIf="loading$ | async">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
<div class="body">
    <mat-card *ngFor="let customer of customerList$ | async" [class.customer-card-desktop]="!isMobile"
        [class.customer-card-mobile]="isMobile">
        <mat-card-header>
            <div mat-card-avatar [class.male-customer-avatar]="customer.primaryTitle === 'Mr.'"
                [class.female-customer-avatar]="customer.primaryTitle === 'Mrs.'">
                <mat-icon>person</mat-icon>
            </div>
            <mat-card-title>{{ customer.primaryTitle }} {{ customer.primaryLastName }}, {{ customer.primaryFirstName }}
                {{ customer.primaryMiddleName }}</mat-card-title>
            <mat-card-subtitle *ngIf="customer.secondaryFirstName">
                {{ customer.secondaryTitle }} {{ customer.secondaryLastName }}, {{ customer.secondaryFirstName }} {{
                customer.secondaryMiddleName }}
            </mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
            <section class="info-section">
                <h4>Contact Information</h4>
                <p>
                    <mat-icon>email</mat-icon>
                    <a *ngIf="customer.email" [href]="'mailto:' + customer.email">{{ customer.email }}</a>
                    <span *ngIf="!customer.email">No provided</span>
                </p>
                <div style="display: flex; gap: 25px">
                    <p>
                        <mat-icon>phone</mat-icon>
                        <a *ngIf="customer.phone" [href]="'tel:' + customer.phone">{{ customer.phone }}</a>
                        <span *ngIf="!customer.phone">No provided</span>
                    </p>
                    <p *ngIf="customer.telephone">
                        <mat-icon>phone</mat-icon>
                        <a *ngIf="!customer.telephone" [href]="'tel:' + customer.telephone">{{ customer.telephone }}</a>
                        <span *ngIf="!customer.telephone">No provided</span>
                </div>

            </section>

            <mat-divider></mat-divider>
            <section class="info-section">
                <h4>Addresses</h4>
                <div *ngIf="customer.floridaAddress" style="display: flex; gap: 5px">
                    <mat-icon>location_on</mat-icon>
                    <div style="display: block">
                        <div>{{ customer.floridaAddress.address1 }} {{ customer.floridaAddress.address2 }} {{
                            customer.floridaAddress.city }}, {{ customer.floridaAddress.state }} {{
                            customer.floridaAddress.zipCode }}</div>
                    </div>
                </div>
                <div *ngIf="customer.newYorkAddress" style="display: flex; gap: 5px">
                    <mat-icon>location_on</mat-icon>
                    <div style="display: block">
                        <div>{{ customer.newYorkAddress.address1 }} {{ customer.newYorkAddress.address2 }} {{
                            customer.newYorkAddress.city }}, {{ customer.newYorkAddress.state }} {{
                            customer.newYorkAddress.zipCode }}</div>
                    </div>
                </div>
            </section>
        </mat-card-content>

        <mat-card-actions>
            <div style="display: flex; justify-content: start">
                <button mat-button color="warn" (click)="navigateToBooking(customer)">Book</button>
            </div>
            <div style="display: flex; justify-content: end; gap: 10px">
                <button mat-button color="primary" (click)="toEditCustomer(customer)">Edit</button>
                <button mat-button style="color: red;" (click)="deleteCustomer(customer)">Delete</button>
            </div>

        </mat-card-actions>
    </mat-card>

    <div *ngIf="!(customerList$ | async) || (customerList$ | async)?.length === 0"
        style="text-align: center; margin-top: 20px">
        <h2>No customers found.</h2>
    </div>
</div>

<mat-paginator class="pagination" [length]="totalPagination$ | async" [pageSize]="searchCriteria.pageSize"
    aria-label="Select page" (page)="onPageChange($event)">
</mat-paginator>