@media print {
    body * {
        margin: 0;
        padding: 0;
        display: none !important;
    }

    app-header {
        display: none !important;
    }

    .no-printable{
        display: none !important;
        margin: 0px !important;
        padding: 0px !important;
    }

    .wrapper{
        margin: 0px;
        padding: 0px;
        display: none !important;
    }

}