.header {
    padding: 20px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h3 {
    margin: 0;
    flex: 1;
    min-width: 200px;
}

.body {
    padding: 20px;
    background-color: #fff;
}

/* tr {
    height: 25px !important;
}

td {

} */