.wrapper{
    display: flex;
    justify-content: center;
    max-width: 1500px;
    margin: 0 auto;
    position: relative;
    top: 90px;
    background-color: #f5f5f5;
}

.container{
    width: 100%;
}