/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/azure-blue.css";

html, body, app-root {
	height: 100%;
	margin: 0;
}
body {
	font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* styles.scss (global) */
@page {
  margin: 0;
  padding: 0;
}

@media print {
  body * {
    visibility: hidden !important;
  }

  #print-area,
  #print-area * {
    visibility: visible !important;
  }

  #print-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }

  app-header * {
    display: none !important;
    visibility: hidden !important;
  }
}