<ng-container *ngIf="{
    customerList: customerListObserver$ | async, 
} as ctx">
    <div class="headers">
        <h1>Customers</h1>
        <button mat-button mat-raised-button (click)="addCustomer()" style="background-color: #ED2D89; color: white">
            Add Customer
        </button>
    </div>
    <form class="search">
        <mat-form-field appearance="outline" subscriptSizing="dynamic" [class.form-field]="!isMobile"
            [class.form-field-mobile]="isMobile">
            <input type="text" matInput [formControl]="searchCustomer"
                [placeholder]="!isMobile ? 'Search by first name, last name or telephone number' : 'Search customer'">
        </mat-form-field>
        <button mat-icon-button class="search-button" color="primary" [disabled]="searchCustomer.value?.length === 0"
            type="submit">
            <mat-icon>search</mat-icon>
        </button>
    </form>
    <!-- <div class="body">
            <mat-card *ngFor="let customer of ctx.customerList">
                <mat-card-title style="display: flex; justify-content: space-evenly; align-items: center">
                    <div>
                        {{ customer.primaryTitle }} {{ customer.primaryFirstName }} <span
                            *ngIf="customer.primaryMiddleName">({{ customer.primaryMiddleName }})</span> {{
                        customer.primaryLastName }}
                    </div>
                    <div>
                        <span>{{ customer.secondaryTitle }} {{ customer.secondaryFirstName }} <span
                                *ngIf="customer.secondaryMiddleName">({{ customer.secondaryMiddleName }})</span> {{
                            customer.secondaryLastName }}
                        </span>
                    </div>

                </mat-card-title>
                <mat-card-content>
                    <div style="display: flex; justify-content: space-between; ">
                        <div style="display: flex; flex-direction: column">
                            <span style="color: gray">CONTACT INFORMATION</span>
                            <span><mat-icon>email</mat-icon><a style="color: black"
                                    [href]="formatLabelEmail(customer.email)">{{ customer.email }}</a></span>
                            <div *ngIf="!isMobile">
                                <span>
                                    <mat-icon>call</mat-icon>
                                    <a style="color: black">{{ customer.phone }}</a>
                                </span>
                                <span *ngIf="customer.telephone">
                                    <mat-icon>call</mat-icon>
                                    <a style="color: black">{{ customer.telephone }}</a>
                                </span>
                            </div>
                            <div *ngIf="isMobile">
                                <span>
                                    <mat-icon>call</mat-icon>
                                    <a style="color: black" [href]="formatLabelPhone(customer.phone)">
                                        {{ customer.phone }}
                                    </a>
                                </span>
                                <span *ngIf="customer.telephone">
                                    <mat-icon>call</mat-icon>
                                    <a style="color: black" [href]="formatLabelPhone(customer.telephone)">
                                        {{ customer.telephone }}
                                    </a>
                                </span>
                            </div>

                        </div>
                        <div style="display: flex; flex-direction: column">
                            <span>ADDRESS INFORMATION</span>
                            <span><mat-icon>location_on</mat-icon>
                                {{ customer.address1 }}<span *ngIf="customer.address2">, {{ customer.address2 }}</span>
                            </span>
                            <span *ngIf="customer.bldg">Building: {{ customer.bldg }}</span>
                            <span *ngIf="customer.apt">Apartment: {{ customer.apt }}</span>
                            <span>{{ customer.city }}, {{ customer.state }}, {{ customer.zipCode }}</span>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div> -->
</ng-container>